/* You can add global styles to this file, and also import other style files */
cms-navigation-menu {
    min-width: 250px
}

.p-accordion p-accordiontab .p-accordion-tab {
    margin-bottom: 0 !important;
}

.requests-cms-list p-table table td span {
    display: flex;
    max-width: 350px;
    word-break: break-all;
}

.request-view-details-container {
    pre {
        width: max-content;
        max-width: 80vw;
        min-width: 50vw;
        overflow-x: auto;
    }
}

.db-cms-list p-table table {
    td {
        div {
            justify-content: start !important;

            .query {
                max-width: 40rem;
            }
        }
    }
}

.db-table-query {
    pre {
        background: unset !important;
    }
}

.db-query-view-details-container {
    .db-query {
        pre {
            code {
                word-break: keep-all;

                /* Since CSS 2.1 */
                white-space: pre-wrap !important;
                /* Mozilla, since 1999 */
                white-space: -moz-pre-wrap;
                /* Opera 4-6 */
                white-space: -pre-wrap;
                /* Opera 7 */
                white-space: -o-pre-wrap;
                /* Internet Explorer 5.5+ */
                word-wrap: break-word !important;
            }
        }
    }
}