<p-accordion class="no-header-radius" [activeIndex]="0">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <i class="pi pi-filter"></i>
            <span class="px-1">{{ 'filters' | translate }}</span>
        </ng-template>
        <cms-generic-filters [filterSchema]="filterSchema">
            <div class="w-full flex justify-content-end align-items-center pt-3" actions>
                <!-- reset filters -->
                <p-button severity="danger" [text]="true" (onClick)="resetFilters()">
                    <span>{{ 'reset' | translate }}</span>
                </p-button>

                <!-- apply filters -->
                <p-button [text]="true" (onClick)="applyFilters()">
                    <span>{{ 'apply' | translate }}</span>
                </p-button>
            </div>
        </cms-generic-filters>
    </p-accordionTab>
</p-accordion>